[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel="~=0.33.4"

[packages]
click="~=7.0"
appdirs="~=1.4.3"
pylovepdf = {git = "https://github.com/AndyCyberSec/pylovepdf.git", ref = "pylovepdf", editable = true}
